# precompiled headers
*.ipch
ipch/*

# VS related stuff
*.log
*.suo
*.sdf
*.user
*.filters
*.opensdf
obj/
Debug/
Release/

# Keil stuff
*.obj
*.__i
*.lnp
*.hex
*.lst
*.bak
*.plg
*.dbk
*.pwi
*.M51
*.SRC
*.ls1




